<!DOCTYPE html>
<html>
    <head>
        <title>Inviqa | Blog</title>
        <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-3.1.0.slim.min.js" integrity="sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8=" crossorigin="anonymous"></script>
        <script>
            window.alert('this is the popup on the blog page');
        </script>
    </head>
    <body>
        <header>
            <h1>Blog</h1>
        </header>

        <nav>
            <p>Navigation goes here</p>
        </nav>

        <section>
            <p>This content is specific to the current page</p>
        </section>
    </body>
</html>